.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
}
.card img 
{
    height: 241px;
    overflow-y: auto;
}
.twoLine {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fourLine {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body p {
    overflow-y: auto;
    height: 85px;
    font-size: 13px;
}